{% extends 'base.html'%}

{% block title %} Home Page {% endblock %}

{% block content %}

<a href="#?leds">Project Leds</a>
<a href="#?castle">Project Castle</a>
<a href="#?LEDsInParallel">Project LedsinParallel</a>
<a href="#?BlinkLeds">Project BlinkLeds</a>
<a href="#?Patterns">Patterns</a>
<a href="#?Button">Buttons</a>
<a href="#?2Buttons">2 Buttons</a>
<a href="#?ButtonLikeASwitch">Buttons Like a Switch</a>
<a href="#?Ultrasonic">Ultrasonic</a>
<a href="#?HomeAlarm">Home Alarm</a>
<a href="#?LEDsPWM">LEDs PWM</a>
<a href="#?ServoMotors">Servo Motors</a>
<a href="#?LockBox">Lock Box</a>
<a href="#?Railroad">Railroad</a>
<a href="#?Drawbridge">Drawbridge</a>
<a href="#?FerrisWheel">Ferris Wheel</a>
<a href="#?Catapult">Catapult</a>
<a href="#?IndianaJonesAlarmSystem">IndianaJonesAlarmSystem</a>
<a href="#?Tank">Tank</a>
<a href="#?AirplanewithPanandTilt">Airplane with pan and tilt</a>
<a href="#?Microwave">Microwave</a>
<a href="#?LCDScreens">LCD Screens</a>
<a href="#?Photoresistors">Photoresistors</a>
<a href="#?SunTracker">Sun Tracker</a>
<a href="#?LEDStrips">LED Strips</a>
<a href="#?MITAppinventor,SmartHouse">MIT App inventor, Smart House</a>
<a href="#?ClockwithICcomponents">Clock with IC components</a>
{% endblock %}


